
header{
  margin: auto;
  width: 70%;
  text-align: center;
  font-size: 60px;
  color: rgb(65, 6, 65);
}

pre{
  margin: auto;
  width: 70%;
  font-size: 40px;
}


button{
  margin: auto;
  color: red;
  background-color: aqua;
  font-size: 20px;
}